.content-wrapper {
    position: absolute;
    /* top: 3.125rem;
    left: 14.375rem;
    width: calc(100% - 14.375rem); */
    height: calc(100% - 3.125rem);
    background-color: #ecf0f5;
    transition: width 0.23s ease-in-out, left 0.23s ease-in-out;
}
